<ngx-datatable
  class="material"
  [rows]="process"
  [columnMode]="'force'"
  [headerHeight]="50"
  [footerHeight]="50"
  [rowHeight]="'auto'"
  [limit]="10">
  <ngx-datatable-column name="id" ></ngx-datatable-column>
  <ngx-datatable-column name="name" ></ngx-datatable-column>
  <ngx-datatable-column name="status" >

        <ng-template ngx-datatable-cell-template let-row="row">
            {{get_name_status(row.status)}}
        </ng-template>

  </ngx-datatable-column>
  <ngx-datatable-column name="Action" >
      <ng-template ngx-datatable-cell-template let-row="row">
          <button mat-mini-fab color="primary" (click)="edit(row.id)">
              <mat-icon>edit</mat-icon>
          </button>
          <button mat-mini-fab color="red" (click)="delete(row.id)">
              <mat-icon>delete_outline</mat-icon>
          </button>
      </ng-template>
  </ngx-datatable-column>
</ngx-datatable>
