<mat-toolbar color="primary">
    <mat-toolbar-row></mat-toolbar-row>
    <mat-toolbar-row></mat-toolbar-row>
</mat-toolbar>


<div fxLayout="row wrap" fxLayoutAlign="center start">
<div fxFlex.gt-sm="55" fxFlex="100">

        <mat-card>
                <mat-card-title>Patient Information</mat-card-title>
                <mat-card-content>
                    <div class="mb-1">
                        <mat-form-field style="width: 100%">
                            <input matInput placeholder="Name" disabled  [(ngModel)]="data_client.nameClient">
                        </mat-form-field>
                    </div>
              
                    <div class="mb-1">
                        <mat-form-field style="width: 100%">
                            <input matInput placeholder="Mother Name" disabled  [(ngModel)]="data_client.nameMother">
                        </mat-form-field>
                    </div>
              
                    <div class="mb-1">
                        <mat-form-field style="width: 100%">
                            <input matInput placeholder="Father Name" disabled  [(ngModel)]="data_client.nameFather">
                        </mat-form-field>
                    </div>
              
                    <div class="mb-1">
                        <mat-form-field style="width: 100%">
                            <input matInput placeholder="Age" disabled  [(ngModel)]="data_client.age">
                        </mat-form-field>
                    </div>
              
                    <div class="mb-1">
                        <label>Gender</label>
                        <mat-radio-group disabled [(ngModel)]="data_client.gender" >
                            <mat-radio-button value="M">Male</mat-radio-button>
                            <mat-radio-button value="F">Female</mat-radio-button>
                        </mat-radio-group>
                      </div>
              
                </mat-card-content>
              </mat-card>
              
              <mat-card>
                  <mat-card-title>Information</mat-card-title>
                
                    <mat-card-content>
                
                      <mat-tab-group class="demo-tab-group" dynamicHeight>
                        <mat-tab  >
                          <ng-template mat-tab-label>Medical Concerns</ng-template>
                          <div class="tab-content">
                              <br>
                
                              <mat-form-field style="width: 100%" class="demo-full-width">
                                  <textarea rows="4" matInput
                                  placeholder="Pregnancy/Delivery" [(ngModel)]='data_medical_concern.pregnanyDelivery'></textarea>
                              </mat-form-field>
                
                              <mat-form-field style="width: 100%" class="demo-full-width">
                                  <textarea rows="4" matInput [(ngModel)]='data_medical_concern.medicalCondition' 
                                  placeholder="Is the person under any current medical condition?"></textarea>
                                </mat-form-field>
                        
                                <mat-form-field style="width: 100%" class="demo-full-width">
                                  <textarea rows="4" matInput [(ngModel)]='data_medical_concern.currMedications'
                                  placeholder="Is the person currently under any medications? If yes. please specify"></textarea>
                                </mat-form-field>
                        
                                <mat-form-field style="width: 100%" class="demo-full-width">
                                  <textarea rows="4" matInput [(ngModel)]='data_medical_concern.allergies'
                                  placeholder="Does the person has any any Allergies to any substances, food etc.If yes, please specify"></textarea>
                                </mat-form-field>
                        
                                <mat-form-field style="width: 100%" class="demo-full-width">
                                    <textarea rows="4" matInput [(ngModel)]='data_medical_concern.sleepPattern' 
                                    placeholder="Sleep Pattern"></textarea>
                                </mat-form-field>
                        
                                <mat-form-field style="width: 100%" class="demo-full-width">
                                    <textarea rows="4" matInput [(ngModel)]='data_medical_concern.eatingHabits'   
                                    placeholder="Eating habits"></textarea>
                                </mat-form-field>
                        
                                <mat-form-field style="width: 100%" class="demo-full-width">
                                    <textarea rows="4" matInput [(ngModel)]='data_medical_concern.other' 
                                    placeholder="Other"></textarea>
                                </mat-form-field>
                           
                          </div>
                        </mat-tab>
                
                        <mat-tab  >
                            <ng-template mat-tab-label>Current Services</ng-template>
                            <div class="tab-content">
                                <br>
                                <mat-form-field style="width: 100%" class="demo-full-width">
                                    <textarea rows="4" matInput [(ngModel)]='data_medical_concern.teacherReportSocialSkill' 
                                    placeholder="Teacher's report on Social and group Skills: (participation in group, peer interactions, etc.)"></textarea>
                                </mat-form-field>
                
                                <mat-form-field style="width: 100%" class="demo-full-width">
                                    <textarea rows="4" matInput [(ngModel)]='data_medical_concern.teacherReportAcademicSkill' 
                                    placeholder="Teacher's report on Academic Skills (reading, math, writing, etc.)"></textarea>
                                </mat-form-field>
                            </div>
                        </mat-tab>
                
                        <mat-tab  >
                            <ng-template mat-tab-label>Communication Skills</ng-template>
                            <div class="tab-content">
                              <br>
                
                              <mat-form-field style="width: 100%" class="demo-full-width">
                                  <textarea rows="4" matInput [(ngModel)]='data_medical_concern.receptiveLanguageSkill' 
                                  placeholder="Describe his/her current receptive language Skills (following instruction, listener skills,)"></textarea>
                              </mat-form-field>
                
                              <mat-form-field style="width: 100%" class="demo-full-width">
                                  <textarea rows="4" matInput [(ngModel)]='data_medical_concern.expressiveLanguageSkill'   
                                  placeholder="Describe his/her current expressive language skills:(labeling, requesting)"></textarea>
                              </mat-form-field>
                
                              <mat-form-field style="width: 100%" class="demo-full-width">
                                  <textarea rows="4" matInput [(ngModel)]='data_medical_concern.currEchoicSkill' 
                                  placeholder="Current echoic skills:"></textarea>
                              </mat-form-field>
                
                            </div>
                        </mat-tab>
                
                        <mat-tab  >
                            <ng-template mat-tab-label>Social Skills</ng-template>
                            <div class="tab-content">
                
                                <mat-form-field style="width: 100%" class="demo-full-width">
                                    <textarea rows="4" matInput [(ngModel)]='data_medical_concern.eyeContact'  
                                    placeholder="Eye Contact"></textarea>
                                </mat-form-field>
                
                                <mat-form-field style="width: 100%" class="demo-full-width">
                                    <textarea rows="4" matInput [(ngModel)]='data_medical_concern.peerInteraction' 
                                    placeholder="Peer Interactions (sharing, turn taking etc,)"></textarea>
                                </mat-form-field>
                
                            </div>
                        </mat-tab>
                
                        <mat-tab  >
                            <ng-template mat-tab-label>Developmental History</ng-template>
                            <div class="tab-content">
                
                                <mat-form-field style="width: 100%" class="demo-full-width">
                                    <textarea rows="4" matInput [(ngModel)]='data_medical_concern.phDevelRolling' 
                                    placeholder="Physical Development Rolling over:"></textarea>
                                </mat-form-field>
                
                                <mat-form-field style="width: 100%" class="demo-full-width">
                                    <textarea rows="4" matInput [(ngModel)]='data_medical_concern.phDevelCraw' 
                                    placeholder="Physical Development Crawling:"></textarea>
                                </mat-form-field>
                
                                <mat-form-field style="width: 100%" class="demo-full-width">
                                    <textarea rows="4" matInput [(ngModel)]='data_medical_concern.phDevelWalk' 
                                    placeholder="Physical Development Walking:"></textarea>
                                </mat-form-field>
                
                                <mat-form-field style="width: 100%" class="demo-full-width">
                                    <textarea rows="4" matInput [(ngModel)]='data_medical_concern.commSkillFword'   
                                    placeholder="Communication Skills First word:"></textarea>
                                </mat-form-field>
                
                                <mat-form-field style="width: 100%" class="demo-full-width">
                                    <textarea rows="4" matInput [(ngModel)]='data_medical_concern.adaptiveSkillDress'  
                                    placeholder="Adaptive Skills Dressing:"></textarea>
                                </mat-form-field>
                
                                <mat-form-field style="width: 100%" class="demo-full-width">
                                    <textarea rows="4" matInput [(ngModel)]='data_medical_concern.adaptiveSkillFeed' 
                                    placeholder="Adaptive Skills Feeding:"></textarea>
                                </mat-form-field>
                
                                <mat-form-field style="width: 100%" class="demo-full-width">
                                    <textarea rows="4" matInput [(ngModel)]='data_medical_concern.adaptiveSkillToilet'
                                    placeholder="Adaptive Skills Toiletting:"></textarea>
                                </mat-form-field>
                
                            </div>
                        </mat-tab>
                
                        <mat-tab  >
                            <ng-template mat-tab-label>Educational Information</ng-template>
                            <div class="tab-content">
                
                                <mat-form-field style="width: 100%" class="demo-full-width">
                                    <textarea rows="4" matInput [(ngModel)]='data_medical_concern.educationInfoSchoolname' 
                                    placeholder="Name of School"></textarea>
                                </mat-form-field>
                
                                <mat-form-field style="width: 100%" class="demo-full-width">
                                    <textarea rows="4" matInput [(ngModel)]='data_medical_concern.educationInfoGrade' 
                                    placeholder="Grade:"></textarea>
                                </mat-form-field>
                
                                <mat-form-field style="width: 100%" class="demo-full-width">
                                    <textarea rows="4" matInput [(ngModel)]='data_medical_concern.educationInfoTeacherReportBehavior'  
                                    placeholder="Teachers report on Classroom Behavior: (compliance, attending skills, etc.)"></textarea>
                                </mat-form-field>
                
                                <mat-form-field style="width: 100%" class="demo-full-width">
                                    <textarea rows="4" matInput [(ngModel)]='data_medical_concern.educationInfoAdult' 
                                    placeholder="Adult Interactions"></textarea>
                                </mat-form-field>
                
                            </div>
                        </mat-tab>
                
                        <mat-tab  >
                            <ng-template mat-tab-label>Behaviors Of Concern</ng-template>
                            <div class="tab-content">
                
                                <mat-form-field style="width: 100%" class="demo-full-width">
                                    <textarea rows="4" matInput [(ngModel)]='data_medical_concern.behaviorConcernAny'   
                                    placeholder="Are there any concerns in the person's behavior? If yes, please provide the following details."></textarea>
                                </mat-form-field>
                
                                <mat-form-field style="width: 100%" class="demo-full-width">
                                    <textarea rows="4" matInput [(ngModel)]='data_medical_concern.behaviorConcernEngageRepetitive'   
                                    placeholder="Does the child engage in any repetitive behaviors? If yes, describe the behavior in your own words."></textarea>
                                </mat-form-field>
                
                                <mat-form-field style="width: 100%" class="demo-full-width">
                                    <textarea rows="4" matInput [(ngModel)]='data_medical_concern.behaviorConcernEngageAggressive'  
                                    placeholder="Does the person engage in any aggressive behaviors such as hitting, biting, etc?If yes, describe the behavior in your own words."></textarea>
                                </mat-form-field>
                
                                <mat-form-field style="width: 100%" class="demo-full-width">
                                    <textarea rows="4" matInput [(ngModel)]='data_medical_concern.behaviorConcvernSituationCompliant'  
                                    placeholder="Are there any sitations where you find him/her non-compliant ? (not following instructions, etc.)"></textarea>
                                </mat-form-field>
                
                                <mat-form-field style="width: 100%" class="demo-full-width">
                                    <textarea rows="4" matInput [(ngModel)]='data_medical_concern.behaviorConcernEngageHarmful'  
                                    placeholder="Does the person engage in any self-injurious or harmful behaviors? (harming themselves)"></textarea>
                                </mat-form-field>
                
                                <mat-form-field style="width: 100%" class="demo-full-width">
                                    <textarea rows="4" matInput [(ngModel)]='data_medical_concern.behaviorConcernEngageUnsafeBehavior'  
                                    placeholder="Does the person engage in any unsafe or harmful behaviors? (health, safety skills,)"></textarea>
                                </mat-form-field>
                
                            </div>
                        </mat-tab>
                        
                        <mat-tab  >
                            <ng-template mat-tab-label>Functional Skills</ng-template>
                            <div class="tab-content">
                
                                <mat-form-field style="width: 100%" class="demo-full-width">
                                    <textarea rows="4" matInput [(ngModel)]='data_medical_concern.funcSkillGross' 
                                    placeholder="Are there any concerns in his/her gross Motor Skills"></textarea>
                                </mat-form-field>
                
                                <mat-form-field style="width: 100%" class="demo-full-width">
                                    <textarea rows="4" matInput [(ngModel)]='data_medical_concern.funcSkillFine'
                                    placeholder="Are there any concerns in his/her fine Motor Skills"></textarea>
                                </mat-form-field>
                
                                <mat-form-field style="width: 100%" class="demo-full-width">
                                    <textarea rows="4" matInput [(ngModel)]='data_medical_concern.funcSkillEatings' 
                                    placeholder="Are there any concerns in his/her Eating skills"></textarea>
                                </mat-form-field>
                
                                <mat-form-field style="width: 100%" class="demo-full-width">
                                    <textarea rows="4" matInput [(ngModel)]='data_medical_concern.funcSkillGroom'  
                                    placeholder="Are there any concerns in his/her Grooming skills?"></textarea>
                                </mat-form-field>
                
                                <mat-form-field style="width: 100%" class="demo-full-width">
                                    <textarea rows="4" matInput [(ngModel)]='data_medical_concern.funcSkillToilet' 
                                    placeholder="Is the person toilet trained? Please describe his/her toileting skills"></textarea>
                                </mat-form-field>
                
                            </div>
                        </mat-tab>
                
                        <mat-tab  >
                            <ng-template mat-tab-label>Play</ng-template>
                            <div class="tab-content">
                                <mat-form-field style="width: 100%" class="demo-full-width">
                                    <textarea rows="4" matInput [(ngModel)]='data_medical_concern.playPreferredActivities'  
                                    placeholder="What are the person's preferred items/activities"></textarea>
                                </mat-form-field>
                
                                <mat-form-field style="width: 100%" class="demo-full-width">
                                    <textarea rows="4" matInput [(ngModel)]='data_medical_concern.playType' 
                                    placeholder="Type of play (repetitive, engagement with toys etc,"></textarea>
                                </mat-form-field>
                
                                <mat-form-field style="width: 100%" class="demo-full-width">
                                    <textarea rows="4" matInput [(ngModel)]='data_medical_concern.playInteractive' 
                                    placeholder="Interactive Play"></textarea>
                                </mat-form-field>
                
                                <mat-form-field style="width: 100%" class="demo-full-width">
                                    <textarea rows="4" matInput [(ngModel)]='data_medical_concern.playFunctional'  
                                    placeholder="Functional Play"></textarea>
                                </mat-form-field>
                
                                <mat-form-field style="width: 100%" class="demo-full-width">
                                    <textarea rows="4" matInput [(ngModel)]='data_medical_concern.playImaginative'
                                    placeholder="Imaginative Play/Pretend play"></textarea>
                                </mat-form-field>
                            </div>
                        </mat-tab>
                
                        <mat-tab  >
                            <ng-template mat-tab-label>Priorities & Goals</ng-template>
                            <div class="tab-content">
                
                                <mat-form-field style="width: 100%" class="demo-full-width">
                                    <textarea rows="4" matInput [(ngModel)]='data_medical_concern.prioritGoals'  
                                    placeholder="What are your priority goals for your child?"></textarea>
                                </mat-form-field>
                
                                <mat-form-field style="width: 100%" class="demo-full-width">
                                    <textarea rows="4" matInput [(ngModel)]='data_medical_concern.prioritExpectation'   
                                    placeholder="What are your expectations from the service center?"></textarea>
                                </mat-form-field>
                
                                <mat-form-field style="width: 100%" class="demo-full-width">
                                    <textarea rows="4" matInput [(ngModel)]='data_medical_concern.prioritOther' 
                                    placeholder="Other details/concerns"></textarea>
                                </mat-form-field>
                
                            </div>
                        </mat-tab>
                
                        <mat-tab  >
                            <ng-template mat-tab-label>Recommendations</ng-template>
                            <div class="tab-content">
                                <mat-form-field style="width: 100%" class="demo-full-width">
                                    <textarea rows="4" matInput [(ngModel)]='data_medical_concern.recommendation' 
                                    placeholder=""></textarea>
                                </mat-form-field>
                            </div>
                        </mat-tab>
                
                      </mat-tab-group>
                
                    </mat-card-content>
                    <hr>
                    <mat-card-actions>
                      
                    </mat-card-actions>
                  
                
                </mat-card>
                
              <mat-card class="demo-card demo-basic">
                  <mat-card-title>Treatment Plan</mat-card-title>
                  <mat-card-content>
                  <table width="100%">
                      <!-- <thead>
                        <td colspan="4">
                            <button mat-raised-button color="accent" (click)="addABunch()">Add</button>
                        </td>
                      </thead> -->
                      <tr *ngFor="let item of items; let i = index">
                        <td>{{i+1}}</td>
                        <td>
                            <mat-form-field>
                            <input matInput
                                    type="text"
                                    placeholder="Field"
                                    [(ngModel)]="items[i].Text">
                            </mat-form-field>
                        </td>
                        <td>
                            <mat-form-field>
                                <input matInput
                                        min="0"
                                        type="number"
                                        placeholder="Hours"
                                        [(ngModel)]="items[i].Hours">
                            </mat-form-field>
                        </td>
                        <td>
                            <mat-form-field>
                                <textarea matInput placeholder="Note" [(ngModel)]="items[i].Note">
                                </textarea>
                            </mat-form-field>
                        </td>
                        <!-- <td>
                            <a mat-mini-fab color="warn" (click)="removeABunch(i)">
                                <mat-icon>delete</mat-icon>
                            </a>
                        </td> -->
                      </tr>
                  </table>
                  </mat-card-content>
              </mat-card>
              
              <mat-card class="demo-card demo-basic">
                  <mat-card-title>Hours Department</mat-card-title>
                  <mat-card-content>
              
                          <table width="100%">
                              <thead>
                              <td>Hours need for each department</td>
                              </thead>
                                  <tr *ngFor="let item of items_hours_dept; let i = index">
                                      <td>
                                          <mat-form-field>
                                              <input matInput
                                                      type="text"
                                                      placeholder="Department"
                                                      [(ngModel)]="items_hours_dept[i].Key">
                                          </mat-form-field>
                                      </td>
                                      <td>
                                          <mat-form-field>
                                              <input matInput
                                                      min="0"
                                                      type="number"
                                                      placeholder="Hours"
                                                      [(ngModel)]="items_hours_dept[i].Value">
                                          </mat-form-field>
                                      </td>
                                      <td>
                                        <a mat-mini-fab color="primary" (click)="generateCalendar(i)">
                                            <mat-icon>calendar_today</mat-icon>
                                        </a>
                                      </td>
                                  </tr>
                              </table>
                  
                  </mat-card-content>
              </mat-card>
              
              <mat-card *ngIf="show_calendar" class="demo-card demo-basic">
                  <mat-card-title>Auto Calendar Generate</mat-card-title>
                  <mat-card-content>
                          <mat-toolbar color="primary">
                              <mat-toolbar-row>
                                  <span fxFlex fxHide="false" fxHide.gt-xs>{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</span>
                              </mat-toolbar-row>
                              <mat-toolbar-row>   
                                  <span fxFlex fxShow="false" fxShow.gt-xs>{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</span>
                              
                                  <div fxShow="false" fxShow.gt-xs>
                                  <button mat-button (click)="view = 'month'" [class.active]="view === 'month'">Month</button>
                                  <button mat-button (click)="view = 'week'" [class.active]="view === 'week'">Week</button>
                                  <button mat-button (click)="view = 'day'" [class.active]="view === 'day'">Day</button>
                                  </div>
                              
                                  <div fxHide="false" fxHide.gt-xs>
                                  <button mat-icon-button (click)="view = 'month'" [class.active]="view === 'month'"><mat-icon>view_module</mat-icon></button>
                                  <button mat-icon-button (click)="view = 'week'" [class.active]="view === 'week'"><mat-icon>view_week</mat-icon></button>
                                  <button mat-icon-button (click)="view = 'day'" [class.active]="view === 'day'"><mat-icon>view_day</mat-icon></button>
                                  </div>
                              
                                  <span fxFlex fxHide="false" fxHide.gt-xs></span>
                              
                                  <button mat-icon-button mwlCalendarPreviousView
                                      [view]="view"
                                      [(viewDate)]="viewDate"><mat-icon>chevron_left</mat-icon></button>
                                  <button mat-icon-button mwlCalendarToday
                                      [(viewDate)]="viewDate"><mat-icon>today</mat-icon></button>
                                  <button mat-icon-button mwlCalendarNextView
                                      [view]="view"
                                      [(viewDate)]="viewDate"><mat-icon>chevron_right</mat-icon></button>
                              </mat-toolbar-row>
                          </mat-toolbar>
                                  
                          <mat-card>
                              <div [ngSwitch]="view">
                                  <mwl-calendar-month-view
                                  *ngSwitchCase="'month'"
                                  [viewDate]="viewDate"
                                  [events]="events"
                                  [refresh]="refresh"
                                  [activeDayIsOpen]="activeDayIsOpen"
                                  (dayClicked)="dayClicked($event.day)"
                                  >
                                  </mwl-calendar-month-view>
                                  <mwl-calendar-week-view
                                  *ngSwitchCase="'week'"
                                  [viewDate]="viewDate"
                                  [events]="events"
                                  [refresh]="refresh"
                                  >
                                  </mwl-calendar-week-view>
                                  <mwl-calendar-day-view
                                  *ngSwitchCase="'day'"
                                  [viewDate]="viewDate"
                                  [events]="events"
                                  [refresh]="refresh"
                                  >
                                  </mwl-calendar-day-view>
                              </div>
                          </mat-card>
                  </mat-card-content>
              </mat-card>
                
              <mat-card class="demo-card demo-basic">
                  <mat-card-title></mat-card-title>
                  <mat-card-content>
                      <button mat-raised-button color="primary" type="submit" (click)="submit()">Save</button>
                  </mat-card-content>
              </mat-card>

</div>
</div>


  