

<div fxLayout="row wrap" fxLayoutAlign="center start">
  <div fxFlex.gt-sm="55" fxFlex="100">

      <mat-card class="mat-card-top" *ngFor="let obj of objActivities">
          <mat-card-title>
            {{ obj?.Activity?.name }}
          </mat-card-title>

          <form [formGroup]="obj?.form">
            <mat-card-content>

              <!-- body activity -->
              <div class="col-sm-12">
                  <div class="card">
                    <div class="card-body">

                      <!-- dynamic form  -->
                      <div *ngFor="let field of obj?.fields">
                      
                          <div class="form-group row" >    
                            <div class="col-md-9" [ngSwitch]="field.type">

                              <!-- text normal -->
                              <div *ngSwitchCase="'text'" >
                                  <div class="mb-1">
                                      <mat-form-field style="width: 100%">
                                          <input matInput
                                           [required]= "field.required"
                                           [attr.type]="field.type"
                                           [id]="field.name" 
                                           [name]="field.name"
                                           [placeholder]="field.placeholder" 
                                           [formControl]="obj?.form.controls[field.name]">
                                      </mat-form-field>
                                      <small *ngIf="obj?.form.controls[field.name].hasError('required') && obj?.form.controls[field.name].touched" class="mat-text-warn">Field is required</small>
                                   </div>
                              </div>
                              <!-- end text normal -->

                              <!-- number normal -->
                              <div *ngSwitchCase="'number'" >
                                <div class="mb-1">
                                    <mat-form-field style="width: 100%">
                                        <input matInput
                                         [required]= "field.required"
                                         [attr.type]="field.type"
                                         [id]="field.name" 
                                         [name]="field.name"
                                         [placeholder]="field.placeholder" 
                                         [formControl]="obj?.form.controls[field.name]">
                                    </mat-form-field>
                                    <small *ngIf="obj?.form.controls[field.name].hasError('required') && obj?.form.controls[field.name].touched" class="mat-text-warn">Field is required</small>
                                 </div>
                              </div>
                              <!-- end number normal -->

                              <!-- date type -->
                              <div *ngSwitchCase="'date'" >
                                <div class="mb-1">
                                  <mat-datepicker-toggle [for]="resultPicker1"></mat-datepicker-toggle>
                                  <mat-form-field style="width: 80%">
                                    <input matInput
                                          #resultPicker1
                                          [matDatepicker]="resultPicker1"
                                          [formControl]="obj?.form.controls[field.name]"
                                          [matDatepickerFilter]="null"
                                          [placeholder]="field.placeholder" 
                                          [required]= "field.required"
                                          >
                                    <mat-datepicker
                                        #resultPicker1
                                        [touchUi]="touch"
                                        [startAt]="startAt"
                                        [startView]="yearView ? 'year' : 'month'">
                                    </mat-datepicker>
                                    <mat-error *ngIf="obj?.form.controls[field.name].hasError('matDatepickerParse')">
                                      "{{obj?.form.controls[field.name].getError('matDatepickerParse').text}}" is not a valid date!
                                    </mat-error>
                                  </mat-form-field>
                                </div>
                              </div>
                              <!-- end date type -->

                              <!-- radio -->
                              <div *ngSwitchCase="'radio'" >
                                <div class="mb-1">
                                  <label>
                                    {{ field.label }}
                                  </label>
                                  <br>
                                  <mat-radio-group [formControl]="obj?.form.controls[field.name]">
                                      <mat-radio-button *ngFor="let item of field?.options" [value]="item.value">
                                        {{ item.text }} 
                                      </mat-radio-button>
                                  </mat-radio-group>
                                  <small *ngIf="!obj?.form.controls[field.name].valid && obj?.form.controls[field.name].touched" class="mat-text-warn">You must select a value.</small>
                                </div>
                              </div>
                              <!-- end radio -->

                              <!-- textarea -->
                              <div *ngSwitchCase="'textarea'" >
                                <mat-form-field style="width: 100%" class="demo-full-width">
                                  <textarea rows="4" 
                                  matInput 
                                  [placeholder]="field.placeholder"
                                  [required]= "field.required"
                                  [formControl]="obj?.form.controls[field.name]"
                                  ></textarea>
                                  <mat-icon matSuffix>text_fields</mat-icon>
                                </mat-form-field>
                                <small *ngIf="obj?.form.controls[field.name].hasError('required') && obj?.form.controls[field.name].touched" class="mat-text-warn">Field is required</small>
                              </div>
                              <!-- end textarea -->

                              <!-- files -->
                              <div *ngSwitchCase="'file'" >
                                <div class="mb-1">
                                    <label>
                                        {{ field.label }}
                                    </label>
                                    <input #file type="file" (change)="upload(file.files, obj?.Activity.id, field.uuid)" />
                                    <br>
                                    <table style="width: 100%">
                                        <thead>
                                        <td ></td>
                                        <td colspan="1">
                                          Name
                                        </td>
                                        <td colspan="1">
                                          Size
                                        </td>
                                        <td colspan="3">
                                          action
                                        </td>
                                        </thead>
                                        <tr *ngFor="let row of files; let i = index">
                                          <td>{{i+1}}</td>
                                          <td>
                                              {{ row?.name }}
                                          </td>
                                          <td>
                                              {{ row?.length/1024/1024 | number:'.2' }} MB
                                          </td>
                                          <td>
                                              <a mat-mini-fab color="warn" (click)="delete_file(row?.id)">
                                                <mat-icon>delete</mat-icon>
                                              </a>
                                          </td>
                                        </tr>
                                    </table>

                                </div>
                              </div>
                              <!-- end files -->

                              <!-- checkbox -->
                              <div *ngSwitchCase="'checkbox'" >
                                  <div class="mb-1">
                                      <mat-checkbox 
                                        [formControl]="obj?.form.controls[field.name]"
                                        [name]="field.name"
                                        [required]= "field.required"
                                        [color]="color"
                                        [align]="alignment">
                                        {{ field.placeholder }}
                                    </mat-checkbox>
                                  </div>
                              </div>
                              <!-- end checkbox -->

                              
                            </div>
                          </div>

                      </div>
                      <!-- end dynamic form -->

                      
                    </div>
                  </div>
              </div>
              <!-- end activity -->

            </mat-card-content>

            <mat-card-actions>
                <button mat-raised-button color="primary" type="submit" [disabled]="!obj?.form.valid" (click)="submit(obj)">
                  {{ obj?.Arrows?.name }}
                </button>
            </mat-card-actions>

          </form>

      </mat-card>

  </div>
</div>