<mat-toolbar color="primary">
    <mat-toolbar-row></mat-toolbar-row>
    <mat-toolbar-row></mat-toolbar-row>
  </mat-toolbar>


<div fxLayout="row wrap" fxLayoutAlign="center start">
  <div fxFlex.gt-sm="55" fxFlex="100">

<mat-card class="mat-card-top">
    <mat-card-title>Information</mat-card-title>
    
    <form [formGroup]="form">
      <mat-card-content>
        
        <div class="mb-1">
            <mat-form-field style="width: 100%">
                <input matInput placeholder="Username" [formControl]="form.controls['userName']">
            </mat-form-field>
            <small *ngIf="form.controls['userName'].hasError('required') && form.controls['userName'].touched" class="mat-text-warn">required</small>
            <small *ngIf="form.controls['userName'].hasError('minlength') && form.controls['userName'].touched" class="mat-text-warn">Your first name must be at least 2 characters long.</small>
            <small *ngIf="form.controls['userName'].hasError('maxlength') && form.controls['userName'].touched" class="mat-text-warn">Your first name cannot exceed 100 characters.</small>
        </div>


        <div class="mb-1">
          <mat-form-field style="width: 100%" >
              <mat-select multiple placeholder="Department"
                          [formControl]="form.controls['groupUsers']"
                          >
                <mat-option *ngFor="let elem of list_departmet" [value]="elem" >
                  {{ elem.name }}
                </mat-option>
              </mat-select>
              
            </mat-form-field>
        </div>

        <div class="mb-1">
          <mat-form-field style="width: 100%">
            <input matInput placeholder="Email address" [formControl]="form.controls['email']" type="email">
          </mat-form-field>
          <small *ngIf="form.controls['email'].hasError('required') && form.controls['email'].touched" class="mat-text-warn">required</small>
          <small *ngIf="form.controls['email'].errors?.email && form.controls['email'].touched" class="mat-text-warn">You must include a valid email address.</small>
        </div>

        <div class="mb-1">
            <mat-form-field style="width: 100%">
            <input matInput placeholder="Password" [formControl]="form.controls['password']" type="password">
            </mat-form-field>
            <small *ngIf="form.controls['password'].hasError('required') && form.controls['password'].touched" class="mat-text-warn">required</small>
        </div>
    
        <div class="mb-1">
            <mat-form-field style="width: 100%">
            <input matInput placeholder="Confirm Password" [formControl]="form.controls['confirmPassword']" type="password">
            </mat-form-field>
            <small *ngIf="form.controls['confirmPassword'].hasError('required') && form.controls['confirmPassword'].touched" class="mat-text-warn">required</small>
            <small *ngIf="form.controls['confirmPassword'].errors?.equalTo" class="mat-text-warn">Passwords do not math.</small>
        </div>

      </mat-card-content>
      <hr>
      <mat-card-actions>
        <button mat-raised-button color="primary" type="submit" [disabled]="!form.valid" (click)="submit()">Save</button>
      </mat-card-actions>
    </form>

</mat-card>

  </div>
</div>