

  <mat-card>
    <mat-card-title>Consultation Form</mat-card-title>

    <form [formGroup]="form">

      <div fxLayout="row wrap">

          <div fxFlex.gt-sm="50" fxFlex.gt-xs="100" fxFlex="100">
              <mat-card-title>
                  <mat-icon matSuffix>calendar_today</mat-icon>
                  {{ DateConsulation | date: 'yyyy/MM/dd' }}
              </mat-card-title>
          </div>
          <div fxFlex.gt-sm="50" fxFlex.gt-xs="100" fxFlex="100">
              <mat-card-title>
                <mat-icon matSuffix>account_circle</mat-icon>
                {{ staffName }}
              </mat-card-title>
          </div>
      </div>

      <div fxLayout="row wrap">

        <div fxFlex.gt-sm="50" fxFlex.gt-xs="100" fxFlex="100">
          <mat-card-content>

            <mat-card>
              <mat-card-title>Personal Details</mat-card-title>
              <mat-card-content>
            <div class="mb-1">
                <mat-form-field style="width: 100%">
                    <input matInput placeholder="Name of Client" [formControl]="form.controls['NameClient']" required>
                </mat-form-field>
                <mat-error *ngIf="form.controls['NameClient'].hasError('required') && form.controls['NameClient'].touched">
                    This field is required
                </mat-error>
                <small *ngIf="form.controls['NameClient'].hasError('minlength') && form.controls['NameClient'].touched" class="mat-text-warn">Your name must be at least 2 characters long.</small>
                <small *ngIf="form.controls['NameClient'].hasError('maxlength') && form.controls['NameClient'].touched" class="mat-text-warn">Your name cannot exceed 100 characters.</small>
            </div>

            <div class="mb-1">
                <mat-datepicker-toggle [for]="resultPicker1"></mat-datepicker-toggle>
                <mat-form-field style="width: 80%">
                  <input matInput
                        #resultPicker1
                        [ngModelOptions]="{standalone: true}"
                        #resultPickerModel1="ngModel"
                        [matDatepicker]="resultPicker1"
                        [(ngModel)]="DateBirht"
                        [matDatepickerFilter]="null"
                        placeholder="DOB"
                        required
                        >
                  <mat-datepicker
                      #resultPicker1
                      [touchUi]="touch"
                      [startAt]="startAt"
                      [startView]="yearView ? 'year' : 'month'">
                  </mat-datepicker>
                  <mat-error *ngIf="resultPickerModel1.hasError('matDatepickerParse')">
                    "{{resultPickerModel1.getError('matDatepickerParse').text}}" is not a valid date!
                  </mat-error>
                </mat-form-field>
              </div>

            <div class="mb-1">
              <label>Gender</label>
              <mat-radio-group [formControl]="form.controls['Gender']">
                  <mat-radio-button value="M">Male</mat-radio-button>
                  <mat-radio-button value="F">Female</mat-radio-button>
              </mat-radio-group>
              <small *ngIf="!form.controls['Gender'].valid && form.controls['Gender'].touched" class="mat-text-warn">You must select a value.</small>
            </div>

            <mat-form-field style="width: 100%" class="demo-full-width">
              <textarea rows="4" matInput placeholder="Primary Reason for Referral"></textarea>
              <mat-icon matSuffix>text_fields</mat-icon>
            </mat-form-field>

            <mat-form-field style="width: 100%" class="demo-full-width">
              <textarea rows="4" matInput placeholder="Persons Present at Consult"></textarea>
              <mat-icon matSuffix>text_fields</mat-icon>
            </mat-form-field>

            <mat-form-field style="width: 100%" class="demo-full-width">
              <textarea rows="4" matInput placeholder="Source of Referral"></textarea>
              <mat-icon matSuffix>text_fields</mat-icon>
            </mat-form-field>
          </mat-card-content>
          </mat-card>
          <hr>
            <mat-card>
              <mat-card-title>Guardian Details</mat-card-title>

              <mat-card-content>
                
                  <div class="mb-1">
                      <mat-form-field style="width: 100%">
                          <input matInput placeholder="Mother/Guardian" [formControl]="form.controls['NameMother']" required>
                      </mat-form-field>
                      <mat-error *ngIf="form.controls['NameMother'].hasError('required') && form.controls['NameMother'].touched">
                          This field is required
                      </mat-error>
                      <small *ngIf="form.controls['NameMother'].hasError('minlength') && form.controls['NameMother'].touched" class="mat-text-warn">Your name must be at least 2 characters long.</small>
                      <small *ngIf="form.controls['NameMother'].hasError('maxlength') && form.controls['NameMother'].touched" class="mat-text-warn">Your name cannot exceed 100 characters.</small>
                  </div>
              
                  <div class="mb-1">
                      <mat-form-field style="width: 100%">
                          <input matInput placeholder="Father/Guardian" [formControl]="form.controls['NameFather']" required>
                      </mat-form-field>
                      <mat-error *ngIf="form.controls['NameFather'].hasError('required') && form.controls['NameFather'].touched">
                          This field is required
                      </mat-error>
                      <small *ngIf="form.controls['NameFather'].hasError('minlength') && form.controls['NameFather'].touched" class="mat-text-warn">Your name must be at least 2 characters long.</small>
                      <small *ngIf="form.controls['NameFather'].hasError('maxlength') && form.controls['NameFather'].touched" class="mat-text-warn">Your name cannot exceed 100 characters.</small>
                  </div>
              
                    <div class="mb-1">
                        <mat-form-field style="width: 100%">
                            <input matInput placeholder="Mother Occupation" [formControl]="form.controls['OccupationMother']" required>
                        </mat-form-field>
                        <mat-error *ngIf="form.controls['OccupationMother'].hasError('required') && form.controls['OccupationMother'].touched">
                            This field is required
                        </mat-error>
                        <small *ngIf="form.controls['OccupationMother'].hasError('minlength') && form.controls['OccupationMother'].touched" class="mat-text-warn">Your name must be at least 2 characters long.</small>
                        <small *ngIf="form.controls['OccupationMother'].hasError('maxlength') && form.controls['OccupationMother'].touched" class="mat-text-warn">Your name cannot exceed 100 characters.</small>
                    </div>
                
                    <div class="mb-1">
                        <mat-form-field style="width: 100%">
                            <input matInput placeholder="Father Occupation" [formControl]="form.controls['OccupationFather']" required>
                        </mat-form-field>
                        <mat-error *ngIf="form.controls['OccupationFather'].hasError('required') && form.controls['OccupationFather'].touched">
                            This field is required
                        </mat-error>
                        <small *ngIf="form.controls['OccupationFather'].hasError('minlength') && form.controls['OccupationFather'].touched" class="mat-text-warn">Your name must be at least 2 characters long.</small>
                        <small *ngIf="form.controls['OccupationFather'].hasError('maxlength') && form.controls['OccupationFather'].touched" class="mat-text-warn">Your name cannot exceed 100 characters.</small>
                    </div>
                
                    <div class="mb-1">
                        <mat-form-field style="width: 100%">
                            <input matInput placeholder="Mother Email adress" [formControl]="form.controls['EmailMother']" required>
                        </mat-form-field>
                        <mat-error *ngIf="form.controls['EmailMother'].hasError('required') && form.controls['EmailMother'].touched">
                            This field is required
                        </mat-error>
                    </div>
                
                    <div class="mb-1">
                        <mat-form-field style="width: 100%">
                            <input matInput placeholder="Father Email adress" [formControl]="form.controls['EmailFather']" required>
                        </mat-form-field>
                        <mat-error *ngIf="form.controls['EmailFather'].hasError('required') && form.controls['EmailFather'].touched">
                            This field is required
                        </mat-error>
                    </div>

                <div class="mb-1">
                    <mat-form-field style="width: 100%">
                        <input type="number" matInput placeholder="Sibling/s" [formControl]="form.controls['Sibling']" required>
                    </mat-form-field>
                    <mat-error *ngIf="form.controls['EmailFather'].hasError('required') && form.controls['EmailFather'].touched">
                        This field is required
                    </mat-error>
                </div>

                
              </mat-card-content>
            </mat-card>

          </mat-card-content>
        </div>

        <div fxFlex.gt-sm="50" fxFlex.gt-xs="100" fxFlex="100">
            <mat-card>
                <mat-card-title>Contact Information</mat-card-title>
  
                <mat-card-content>

                    <div class="mb-1">
                        <mat-form-field style="width: 100%">
                            <input matInput placeholder="Phone" [formControl]="form.controls['Phone']" required>
                            <span matPrefix>+971</span>
                            <mat-icon matSuffix>contact_phone</mat-icon>
                        </mat-form-field>
                        <mat-error *ngIf="form.controls['Phone'].hasError('required') && form.controls['Phone'].touched">
                            This field is required
                        </mat-error>
                    </div>

                    <div class="mb-1">
                        <mat-form-field style="width: 100%">
                            <input matInput placeholder="Mobile" [formControl]="form.controls['Mobile']">
                            <span matPrefix>+971</span>
                            <mat-icon matSuffix>contact_phone</mat-icon>
                        </mat-form-field>
                    </div>

                    <div class="mb-1">
                        <mat-form-field style="width: 100%">
                            <input matInput placeholder="Phone Emergency" [formControl]="form.controls['PhoneEmergency']">
                            <mat-icon matSuffix>phone</mat-icon>
                        </mat-form-field>
                    </div>

                    <mat-form-field style="width: 100%" class="demo-full-width">
                      <textarea rows="4" matInput [formControl]="form.controls['Address1']" placeholder="Adress 1"></textarea>
                      <mat-icon matSuffix>text_fields</mat-icon>
                    </mat-form-field>
    
                    <mat-form-field style="width: 100%" class="demo-full-width">
                      <textarea rows="4" matInput [formControl]="form.controls['Address2']" placeholder="Adress 2"></textarea>
                      <mat-icon matSuffix>text_fields</mat-icon>
                    </mat-form-field>

                </mat-card-content>
            </mat-card>

            <mat-card>
              <mat-card-title>Attachment</mat-card-title>
      
              <mat-card-content>
                 <input #file type="file" (change)="upload(file.files)" />
                 <br>
                 <table style="width: 100%">
                    <thead>
                    <td colspan="1">
                      Name
                    </td>
                    <td colspan="1">
                      Size
                    </td>
                    <td colspan="3">
                      action
                    </td>
                    </thead>
                    <tr *ngFor="let row of files; let i = index">
                      <td>{{i+1}}</td>
                      <td>
                          {{ row?.name }}
                      </td>
                      <td>
                          {{ row?.length/1024/1024 | number:'.2' }} MB
                      </td>
                      <td>
                          <a mat-mini-fab color="warn" (click)="delete_file(row?.id)">
                            <mat-icon>delete</mat-icon>
                          </a>
                      </td>
                    </tr>
                  </table>

              </mat-card-content>
            </mat-card>          

          <mat-card-actions>
            <mat-form-field style="width: 100%" [color]="Theme">
              <mat-select placeholder="Department"
                          [formControl]="form.controls['Department']"
                          required>
                <mat-option *ngFor="let elem of list_departmet" [value]="elem" >
                  {{ elem.name }}
                </mat-option>
              </mat-select>
              
            </mat-form-field>
            <button mat-raised-button color="primary" type="submit" [disabled]="!form.valid" (click)="submit()">Send</button>
          </mat-card-actions>
        </div>

      </div>

    </form>

  </mat-card>


