<ngx-datatable
  class="material"
  [rows]="clients"
  [columnMode]="'force'"
  [headerHeight]="50"
  [footerHeight]="50"
  [rowHeight]="'auto'"
  [limit]="10">
  <ngx-datatable-column name="Name Client" ></ngx-datatable-column>
  <ngx-datatable-column name="DOB"  prop="dateBirht">
      <ng-template ngx-datatable-cell-template let-row="row">
          {{ row.dateBirht | date: 'yyyy/MM/dd' }}
      </ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column name="Gender" ></ngx-datatable-column>
  <ngx-datatable-column name="Age"  prop="age"></ngx-datatable-column>
  <ngx-datatable-column name="Phone" ></ngx-datatable-column>
  <ngx-datatable-column name="Phone Emergency" ></ngx-datatable-column>
  <ngx-datatable-column name="Mother Name"  prop="nameMother"></ngx-datatable-column>
  <ngx-datatable-column name="Father Name"  prop="nameFather"></ngx-datatable-column>
  <ngx-datatable-column name="Email"  prop="emailMother"></ngx-datatable-column>
  <ngx-datatable-column name="Date of Process"  prop="dateConsulation">
      <ng-template ngx-datatable-cell-template let-row="row">
          {{ row.dateConsulation | date: 'yyyy/MM/dd' }}
      </ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column name="In Department" >
        <ng-template ngx-datatable-cell-template let-row="row">

            <mat-chip-list>
                <p  *ngFor="let item of row.medicalConcern; let i = index" >
                    <mat-chip *ngFor="let elem of department_name(item.toDepStaffId); let i = index"
                        (focus)="color = primary" 
                        color="primary" selected="true">
                            {{ elem }}
                    </mat-chip>
                    <br>
                </p>
            </mat-chip-list>

        </ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column name="Address1" ></ngx-datatable-column>
  <ngx-datatable-column name="Action" >
        <ng-template ngx-datatable-cell-template let-row="row">
            <button mat-mini-fab color="primary" (click)="edit(row.id)">
                <mat-icon>edit</mat-icon>
            </button>
            <button mat-mini-fab color="red" (click)="delete(row.id)">
                <mat-icon>delete_outline</mat-icon>
            </button>
        </ng-template>
  </ngx-datatable-column>
</ngx-datatable>
