
<mat-toolbar color="primary">
    <mat-toolbar-row></mat-toolbar-row>
    <mat-toolbar-row></mat-toolbar-row>
  </mat-toolbar>


<div fxLayout="row wrap" fxLayoutAlign="center start">
  <div fxFlex.gt-sm="55" fxFlex="100">

      <mat-card>
          <mat-card-title>Information</mat-card-title>
        
          <form [formGroup]="form">
            <mat-card-content>
        
              <div class="mb-1">
                  <mat-form-field style="width: 100%">
                      <input matInput placeholder="Name" [formControl]="form.controls['name']">
                  </mat-form-field>
                  <small *ngIf="form.controls['name'].hasError('required') && form.controls['name'].touched" class="mat-text-warn">required</small>
                  <small *ngIf="form.controls['name'].hasError('minlength') && form.controls['name'].touched" class="mat-text-warn">Your first name must be at least 2 characters long.</small>
                  <small *ngIf="form.controls['name'].hasError('maxlength') && form.controls['name'].touched" class="mat-text-warn">Your first name cannot exceed 100 characters.</small>
              </div>
        
              <div class="mb-1">
                  <mat-form-field style="width: 100%">
                      <input type="text" matInput placeholder="Code" [formControl]="form.controls['code']">
                  </mat-form-field>
                  <small *ngIf="form.controls['code'].hasError('required') && form.controls['code'].touched" class="mat-text-warn">required</small>
              </div>
        
              <div class="mb-1">
                <mat-form-field style="width: 100%" [color]="Theme">
                  <mat-select placeholder="Type"
                              [formControl]="form.controls['type']"
                              >
                    <mat-option *ngFor="let elem of list_Type" [value]="elem" >
                      {{ elem.name }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>

              <div class="mb-1">
                  <mat-form-field style="width: 100%" [color]="Theme">
                    <mat-select placeholder="Color"
                                [formControl]="form.controls['color']"
                                >
                      <mat-option *ngFor="let elem of list_color" [value]="elem" >
                        {{ elem.name }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              
        
              <div class="mb-1">
                <mat-form-field style="width: 100%" [color]="Theme">
                    <mat-select multiple placeholder="Permission"
                                [formControl]="form.controls['permission']"
                                >
                      <mat-option *ngFor="let elem of list_permission" [value]="elem" >
                        {{ elem.value }}
                      </mat-option>
                    </mat-select>
                    
                  </mat-form-field>
              </div>
        
            </mat-card-content>
            <hr>
            <mat-card-actions>
              <button mat-raised-button color="primary" type="submit" [disabled]="!form.valid" (click)="submit()">Save</button>
            </mat-card-actions>
          </form>
        
        </mat-card>

   </div>
</div>



