
<mat-toolbar color="primary">
    <mat-toolbar-row></mat-toolbar-row>
    <mat-toolbar-row></mat-toolbar-row>
  </mat-toolbar>


<div fxLayout="row wrap" fxLayoutAlign="center start">
  <div fxFlex.gt-sm="55" fxFlex="100">

      <mat-card>
          <mat-card-title>Daily Session Notes</mat-card-title>
        
          <form [formGroup]="form">
            <mat-card-content>
        
              <div class="mb-1">
                  <mat-form-field style="width: 100%">
                      <input disabled matInput placeholder="Client Name" >
                  </mat-form-field>
              </div>
              
              <mat-form-field style="width: 100%" class="demo-full-width">
                  <textarea rows="4" matInput [formControl]="form.controls['TargetSkillWorking']"
                  placeholder="Target Skills worked on"></textarea>
              </mat-form-field>

              <mat-form-field style="width: 100%" class="demo-full-width">
                  <textarea rows="4" matInput [formControl]="form.controls['Note']"
                  placeholder="Notes"></textarea>
              </mat-form-field>
              
        
            </mat-card-content>
            <hr>
            <mat-card-actions>
              <button mat-raised-button color="primary" type="submit" [disabled]="!form.valid" (click)="submit()">Save</button>
            </mat-card-actions>
          </form>
        
        </mat-card>

   </div>
</div>



