<ngx-datatable
  class="material"
  [rows]="rows"
  [columnMode]="'flex'"
  [headerHeight]="50"
  [footerHeight]="50"
  [rowHeight]="'auto'"
  [externalPaging]="true"
  [count]="page.totalElements"
  [offset]="page.pageNumber"
  [limit]="page.size"
  (page)='setPage($event)'
  >

  <ngx-datatable-column *ngFor="let col of resultColumns; let i = index" [name]="col.name" [flexGrow]="col.flexGrow">
    <ng-template ngx-datatable-header-template>
        {{ col.name }}
    </ng-template>
    <ng-template let-value="value" ngx-datatable-cell-template>
        {{ value }}
    </ng-template>
 </ngx-datatable-column>
  
  

  <ngx-datatable-column name="Action" [flexGrow]="1.0">
      <ng-template ngx-datatable-cell-template let-row="row">
          <button mat-mini-fab color="primary" (click)="edit(row.id)">
              <mat-icon>edit</mat-icon>
          </button>
          <button mat-mini-fab color="Accent" (click)="staff(row.id)">
                <mat-icon>people_outline</mat-icon>
            </button>
          <button mat-mini-fab color="red" (click)="delete(row.id)">
              <mat-icon>delete_outline</mat-icon>
          </button>
      </ng-template>
  </ngx-datatable-column>

</ngx-datatable>
