<mat-toolbar class="main-header" color="primary">
  <button (click)="toggleSidenav.emit()" mat-icon-button>
    <mat-icon>menu</mat-icon>
  </button>
  <div class="branding">
    <div class="logo"></div>
  </div>
  <div class="search-bar" fxFlex>
    <form class="search-form" [ngStyle.xs]="{display: 'none'}">
      <mat-icon>search</mat-icon>
      <input type="text" placeholder="Search" autofocus="true" />
    </form>
  </div>
  <!--<button (click)="fullScreenToggle()" mat-icon-button>-->
    <!--<mat-icon>language</mat-icon>-->
  <!--</button>-->

    <button mat-button (click)="options.dir = (options.dir == 'rtl' ? 'ltr' : 'rtl'); sendOptions();translate.use(currentLang = (currentLang == 'ar' ? 'en' : 'ar'))" ><mat-icon></mat-icon> 
      <img style="height: 35px; max-height: 35px;" matCardAvatar src="assets/images/{{(currentLang == 'ar' ? 'en.png' : 'ar.png')}}"> 
    </button>
  <!--<div class="pb-0">-->
    <!--<mat-select placeholder="Language" class="mt-1" [(ngModel)]="currentLang" #langSelect="ngModel" (ngModelChange)="translate.use(currentLang)">-->
      <!--<mat-option *ngFor="let lang of translate.getLangs()" [value]="lang">{{ lang }}</mat-option>-->
    <!--</mat-select>-->
  <!--</div>-->


  <!--<button (click)="fullScreenToggle()" mat-icon-button>-->
    <!--<mat-icon>fullscreen</mat-icon>-->
  <!--</button>-->
  <button (click)="toggleNotificationSidenav.emit()" mat-icon-button class="ml-xs overflow-visible">
    <mat-icon>notifications</mat-icon>
    <span class="notification-label">5</span>
  </button>
  <button [matMenuTriggerFor]="user" mat-icon-button class="ml-xs">
    <mat-icon>person</mat-icon>
  </button>
  <mat-menu #user="matMenu" x-position="before">
    <button mat-menu-item>
      <mat-icon>settings</mat-icon>
      Settings
    </button>
    <button (click)="profile()" mat-menu-item>
      <mat-icon>account_box</mat-icon>
      Profile
    </button>
    <button mat-menu-item>
      <mat-icon>notifications_off</mat-icon>
      Disable notifications
    </button>
    <button (click)="logout()" mat-menu-item>
      <mat-icon>exit_to_app</mat-icon>
      Sign Out
    </button>
  </mat-menu>
</mat-toolbar>
