<ngx-datatable
  class="material"
  [rows]="dailysessions"
  [columnMode]="'force'"
  [headerHeight]="50"
  [footerHeight]="50"
  [rowHeight]="'auto'"
  [limit]="10">
  <ngx-datatable-column name="Name" ></ngx-datatable-column>
  <ngx-datatable-column name="Code" ></ngx-datatable-column>
  <ngx-datatable-column name="Type" >

        <ng-template ngx-datatable-cell-template let-row="row">
            {{getNameType(row.type)}}
        </ng-template>

  </ngx-datatable-column>
  <ngx-datatable-column name="Action" >
      <ng-template ngx-datatable-cell-template let-row="row">
          <button mat-mini-fab color="primary" (click)="edit(row.id)">
              <mat-icon>edit</mat-icon>
          </button>
          <button mat-mini-fab color="Accent" (click)="staff(row.id)">
                <mat-icon>people_outline</mat-icon>
            </button>
          <button mat-mini-fab color="red" (click)="delete(row.id)">
              <mat-icon>delete_outline</mat-icon>
          </button>
      </ng-template>
  </ngx-datatable-column>
</ngx-datatable>
