<ngx-datatable
  class="material"
  [rows]="staffs"
  [columnMode]="'force'"
  [headerHeight]="50"
  [footerHeight]="50"
  [rowHeight]="'auto'"
  [limit]="10">
  <ngx-datatable-column name="Name" ></ngx-datatable-column>
  <ngx-datatable-column name="Email" ></ngx-datatable-column>
</ngx-datatable>