<mat-card>
  <mat-card-title>Information</mat-card-title>

  <form [formGroup]="form">
    <mat-card-content>

      <div class="mb-1">
          <mat-form-field style="width: 100%">
              <input matInput placeholder="Name" [formControl]="form.controls['Name']">
          </mat-form-field>
          <small *ngIf="form.controls['Name'].hasError('required') && form.controls['Name'].touched" class="mat-text-warn">You must include a first name.</small>
          <small *ngIf="form.controls['Name'].hasError('minlength') && form.controls['Name'].touched" class="mat-text-warn">Your first name must be at least 2 characters long.</small>
          <small *ngIf="form.controls['Name'].hasError('maxlength') && form.controls['Name'].touched" class="mat-text-warn">Your first name cannot exceed 100 characters.</small>
      </div>

      <div class="mb-1">
          <mat-form-field style="width: 100%">
              <input matInput placeholder="Code" [formControl]="form.controls['Code']">
          </mat-form-field>
          <small *ngIf="form.controls['Code'].hasError('required') && form.controls['Code'].touched" class="mat-text-warn">You must include a first name.</small>
          <small *ngIf="form.controls['Code'].hasError('minlength') && form.controls['Code'].touched" class="mat-text-warn">Your first name must be at least 2 characters long.</small>
          <small *ngIf="form.controls['Code'].hasError('maxlength') && form.controls['Code'].touched" class="mat-text-warn">Your first name cannot exceed 100 characters.</small>
      </div>

      <div class="mb-1">
        <mat-form-field style="width: 100%" [color]="Theme">
          <mat-select placeholder="Type"
                      [formControl]="form.controls['Type']"
                      >
            <mat-option *ngFor="let elem of list_Type" [value]="elem" >
              {{ elem.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      

      <div class="mb-1">
        <mat-form-field style="width: 100%" [color]="Theme">
            <mat-select multiple placeholder="Permission"
                        [formControl]="form.controls['Permission']"
                        >
              <mat-option *ngFor="let elem of list_permission" [value]="elem" >
                {{ elem.value }}
              </mat-option>
            </mat-select>
            
          </mat-form-field>
      </div>

    </mat-card-content>
    <hr>
    <mat-card-actions>
      <button mat-raised-button color="primary" type="submit" [disabled]="!form.valid" (click)="submit()">Save</button>
    </mat-card-actions>
  </form>

</mat-card>
