<mat-chip-list>
    <mat-chip>Done</mat-chip>
    <mat-chip color="primary" selected="true">New</mat-chip>
    <mat-chip color="accent" selected="true">Working on it</mat-chip>
    <mat-chip color="warn" selected="true">Pending</mat-chip>
</mat-chip-list>

<ngx-datatable
  class="material"
  [rows]="medicalconcerns"
  [columnMode]="'force'"
  [headerHeight]="50"
  [footerHeight]="50"
  [rowHeight]="'auto'"
  [limit]="10">
  <ngx-datatable-column name="Id" ></ngx-datatable-column>
  <ngx-datatable-column name="Date Medical" >
      <ng-template ngx-datatable-cell-template let-row="row">
          {{ row.dateMedical | date: 'yyyy/MM/dd' }}
      </ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column name="Name"  prop="client.nameClient"></ngx-datatable-column>
  <ngx-datatable-column name="Father Name"  prop="client.nameFather"></ngx-datatable-column>
  <ngx-datatable-column name="Mother Name"  prop="client.nameMother"></ngx-datatable-column>
  <ngx-datatable-column name="Age"  prop="client.age"></ngx-datatable-column>
  <ngx-datatable-column name="Phone"  prop="client.phone"></ngx-datatable-column>
  <ngx-datatable-column name="Status" >
        <ng-template ngx-datatable-cell-template let-row="row">
                <mat-chip-list>
                    <mat-chip *ngIf="row.status == 0"
                        color="primary" selected="true">
                            New
                    </mat-chip>
                    <mat-chip *ngIf="row.status == 1"
                        color="accent" selected="true">
                            Working on it
                    </mat-chip>
                    <mat-chip *ngIf="row.status == 2">
                            Done
                    </mat-chip>
                    <mat-chip *ngIf="row.status == 3"
                        color="warn" selected="true">
                            Pending
                    </mat-chip>
                </mat-chip-list>
        </ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column name="Action" >
      <ng-template ngx-datatable-cell-template let-row="row">
          <button mat-mini-fab color="primary" (click)="edit(row.id, row.client.id)">
              <mat-icon>edit</mat-icon>
          </button>
      </ng-template>
  </ngx-datatable-column>
</ngx-datatable>
