<div fxLayout="row wrap">
  <div fxFlex.gt-sm="25" fxFlex.gt-xs="50" fxFlex="100">
    <mat-card class="card-widget mat-teal">
      <div mat-card-widget>
        <div mat-card-float-icon>
          <mat-icon>local_offer</mat-icon>
        </div>
        <div class="pl-0">
          <h2 mat-card-widget-title>103</h2>
          <p>Patients</p>
        </div>
      </div>
    </mat-card>
  </div>
  <div fxFlex.gt-sm="25" fxFlex.gt-xs="50" fxFlex="100">
    <mat-card class="card-widget mat-purple">
      <div mat-card-widget>
        <div mat-card-float-icon>
          <mat-icon>phone</mat-icon>
        </div>
        <div class="pl-0">
          <h2 mat-card-widget-title>230</h2>
          <p>Complete</p>
        </div>
      </div>
    </mat-card>
  </div>
  <div fxFlex.gt-sm="25" fxFlex.gt-xs="50" fxFlex="100">
    <mat-card class="card-widget mat-red">
      <div mat-card-widget>
        <div mat-card-float-icon>
          <mat-icon>notifications</mat-icon>
        </div>
        <div class="pl-0">
          <h2 mat-card-widget-title>323</h2>
          <p>Queries</p>
        </div>
      </div>
    </mat-card>
  </div>
  <div fxFlex.gt-sm="25" fxFlex.gt-xs="50" fxFlex="100">
    <mat-card class="card-widget mat-indigo">
      <div mat-card-widget>
        <div mat-card-float-icon>
          <mat-icon>email</mat-icon>
        </div>
        <div class="pl-0">
          <h2 mat-card-widget-title>870</h2>
          <p>Opens</p>
        </div>
      </div>
    </mat-card>
  </div>
</div>

<div fxLayout="row wrap">
	<div fxFlex.gt-sm="33.33%" fxFlex="100">
		<mat-card>
      <mat-card-subtitle fxLayout="row" fxLayoutAlign="start center">
        Month &nbsp; <span class="font-weight-bold mat-text-primary">+458,90</span>
        <span fxFlex></span>
        <button mat-icon-button mat-button-sm [matMenuTriggerFor]="card1" aria-label="Open card menu">
          <mat-icon>more_vert</mat-icon>
        </button>
      </mat-card-subtitle>
      <mat-menu #card1="matMenu" x-position="before">
        <button mat-menu-item>
          <mat-icon>settings</mat-icon>
          Settings
        </button>
        <button mat-menu-item>
          <mat-icon>more</mat-icon>
          View More
        </button>
        <button mat-menu-item>
          <mat-icon>notifications_off</mat-icon>
          Disable notifications
        </button>
        <button mat-menu-item>
          <mat-icon>exit_to_app</mat-icon>
          Remove Panel
        </button>
      </mat-menu>
			<mat-card-content>
        <canvas height="200" baseChart class="chart"
          [datasets]="barChartData"
          [labels]="barChartLabels"
          [options]="barChartOptions"
          [colors]="chartColors"
          [legend]="barChartLegend"
          [chartType]="barChartType"></canvas>
      </mat-card-content>
		</mat-card>
	</div>
	<div fxFlex.gt-sm="33.33%" fxFlex.gt-xs="50" fxFlex="100">
		<mat-card>
      <mat-card-subtitle fxLayout="row" fxLayoutAlign="start center">
        Patient Follow &nbsp; <span class="font-weight-bold mat-text-warn">-46,68</span>
        <span fxFlex></span>
        <button mat-icon-button mat-button-sm [matMenuTriggerFor]="card2" aria-label="Open card menu">
          <mat-icon>more_vert</mat-icon>
        </button>
      </mat-card-subtitle>
      <mat-menu #card2="matMenu" x-position="before">
        <button mat-menu-item>
          <mat-icon>settings</mat-icon>
          Settings
        </button>
        <button mat-menu-item>
          <mat-icon>more</mat-icon>
          View More
        </button>
        <button mat-menu-item>
          <mat-icon>notifications_off</mat-icon>
          Disable notifications
        </button>
        <button mat-menu-item>
          <mat-icon>exit_to_app</mat-icon>
          Remove Panel
        </button>
      </mat-menu>
			<mat-card-content>
        <canvas height="200" baseChart class="chart"
          [datasets]="ComboChartData"
          [labels]="comboChartLabels"
          [options]="ComboChartOptions"
          [colors]="chartColors"
          [legend]="comboChartLegend"
          [chartType]="barChartType"></canvas>
      </mat-card-content>
		</mat-card>
	</div>
	<div fxFlex.gt-sm="33.33%" fxFlex.gt-xs="50" fxFlex="100">
		<mat-card>
      <mat-card-subtitle fxLayout="row" fxLayoutAlign="start center">
        Weekly &nbsp; <span class="font-weight-bold mat-text-accent">+2,50%</span>
        <span fxFlex></span>
        <button mat-icon-button mat-button-sm [matMenuTriggerFor]="card3" aria-label="Open card menu">
          <mat-icon>more_vert</mat-icon>
        </button>
      </mat-card-subtitle>
      <mat-menu #card3="matMenu" x-position="before">
        <button mat-menu-item>
          <mat-icon>settings</mat-icon>
          Settings
        </button>
        <button mat-menu-item>
          <mat-icon>more</mat-icon>
          View More
        </button>
        <button mat-menu-item>
          <mat-icon>notifications_off</mat-icon>
          Disable notifications
        </button>
        <button mat-menu-item>
          <mat-icon>exit_to_app</mat-icon>
          Remove Panel
        </button>
      </mat-menu>
			<mat-card-content>
        <canvas height="200" baseChart class="chart"
          [datasets]="bubbleChartData"
          [labels]="comboChartLabels"
          [options]="ComboChartOptions"
          [legend]="comboChartLegend"
          [chartType]="bubbleChartType"></canvas>
      </mat-card-content>
		</mat-card>
	</div>
</div>

<div fxLayout="row wrap">
  <div fxFlex.gt-sm="66.66%" fxFlex="100">
    <mat-card>
      <mat-card-title>New Patient</mat-card-title>
      <ngx-datatable
        class="material"
        [rows]="rows"
        [columnMode]="'force'"
        [headerHeight]="50"
        [footerHeight]="0"
        [rowHeight]="'auto'">
        <ngx-datatable-column name="Patient">
          <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
            {{row['project']}}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Due Date">
          <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
            {{row['date'] | date: 'MMMM dd'}}
          </ng-template>
        </ngx-datatable-column>
        <!-- <ngx-datatable-column name="Progress">
          <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
            <mat-progress-bar mode="determinate" value="{{row['progress']}}" color="primary"></mat-progress-bar>
          </ng-template>
        </ngx-datatable-column> -->
      </ngx-datatable>
    </mat-card>
  </div>
  <div fxFlex.gt-sm="33.33%" fxFlex="100">
    <mat-card>
      <mat-card-title>Last Activity</mat-card-title>
      <mat-card-subtitle>Stories posted today</mat-card-subtitle>
      <hr>
      <mat-list>
        <ng-template let-item let-last="last" ngFor [ngForOf]="messages">
          <mat-list-item>
            <img mat-list-avatar src="{{item.photo}}" alt="">
            <h3 matLine> {{item.from}} </h3>
            <p matLine> {{item.subject}} - {{item.message}} </p>
          </mat-list-item>
        </ng-template>
      </mat-list>
    </mat-card>
  </div>
</div>

