<mat-toolbar color="primary">
    <mat-toolbar-row></mat-toolbar-row>
    <mat-toolbar-row></mat-toolbar-row>
  </mat-toolbar>


  <div fxLayout="row wrap">
  
      <div fxFlex.gt-sm="50" fxFlex.gt-xs="50" fxFlex="100">
        <mat-card>
          <mat-card-title>Patient Information</mat-card-title>
          <mat-card-content>
              <div class="mb-1">
                  <mat-form-field style="width: 100%">
                      <input matInput placeholder="Name" disabled  [(ngModel)]="data_client.nameClient">
                  </mat-form-field>
              </div>
        
              <div class="mb-1">
                  <mat-form-field style="width: 100%">
                      <input matInput placeholder="Mother Name" disabled  [(ngModel)]="data_client.nameMother">
                  </mat-form-field>
              </div>
        
              <div class="mb-1">
                  <mat-form-field style="width: 100%">
                      <input matInput placeholder="Father Name" disabled  [(ngModel)]="data_client.nameFather">
                  </mat-form-field>
              </div>
        
              <div class="mb-1">
                  <mat-form-field style="width: 100%">
                      <input matInput placeholder="Age" disabled  [(ngModel)]="data_client.age">
                  </mat-form-field>
              </div>
        
              <div class="mb-1">
                  <label>Gender</label>
                  <mat-radio-group disabled [(ngModel)]="data_client.gender" >
                      <mat-radio-button value="M">Male</mat-radio-button>
                      <mat-radio-button value="F">Female</mat-radio-button>
                  </mat-radio-group>
                </div>
        
          </mat-card-content>
        </mat-card>
      </div>

      <div fxFlex.gt-sm="50" fxFlex.gt-xs="50" fxFlex="100">
          <mat-card>
              <mat-card-title></mat-card-title>
              <mat-card-content>
  
                  <div class="mb-1">
                    <mat-form-field style="width: 100%" [color]="Theme">
                        <mat-select multiple placeholder="Department"
                                    [ngModelOptions]="{standalone: true}"
                                    [(ngModel)]="data_departmet"
                                    required>
                          <mat-option *ngFor="let elem of list_departmet" [value]="elem" >
                            {{ elem.name }}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                  </div>
  
                  <div>
                    <button mat-raised-button color="primary" type="submit" [disabled]="!form.valid" (click)="submit()">Send</button>
                  </div>
  
              </mat-card-content>
          </mat-card>
      </div>

      <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
        <mat-card>
            <mat-card-title>Information</mat-card-title>
        
            <form [formGroup]="form">
              <mat-card-content>
        
                  <mat-horizontal-stepper formArrayName="formArray" [linear]="!isNonLinear">
                      <mat-step formGroupName="0" [stepControl]="formArray?.get([0])">
                        <ng-template matStepLabel>Medical Concerns</ng-template>
                        
                        <mat-form-field style="width: 100%" class="demo-full-width">
                            <textarea rows="4" matInput formControlName="PregnanyDelivery"
                            placeholder="Pregnancy/Delivery"></textarea>
                            <mat-icon matSuffix>text_fields</mat-icon>
                          </mat-form-field>
                  
                          <mat-form-field style="width: 100%" class="demo-full-width">
                            <textarea rows="4" matInput formControlName="MedicalCondition" 
                            placeholder="Is the person under any current medical condition?"></textarea>
                            <mat-icon matSuffix>text_fields</mat-icon>
                          </mat-form-field>
                  
                          <mat-form-field style="width: 100%" class="demo-full-width">
                            <textarea rows="4" matInput formControlName="CurrMedications" 
                            placeholder="Is the person currently under any medications? If yes. please specify"></textarea>
                            <mat-icon matSuffix>text_fields</mat-icon>
                          </mat-form-field>
                  
                          <mat-form-field style="width: 100%" class="demo-full-width">
                            <textarea rows="4" matInput formControlName="Allergies"
                            placeholder="Does the person has any any Allergies to any substances, food etc.If yes, please specify"></textarea>
                            <mat-icon matSuffix>text_fields</mat-icon>
                          </mat-form-field>
                  
                          <mat-form-field style="width: 100%" class="demo-full-width">
                              <textarea rows="4" matInput formControlName="SleepPattern" 
                              placeholder="Sleep Pattern"></textarea>
                              <mat-icon matSuffix>text_fields</mat-icon>
                          </mat-form-field>
                  
                          <mat-form-field style="width: 100%" class="demo-full-width">
                              <textarea rows="4" matInput formControlName="EatingHabits"  
                              placeholder="Eating habits"></textarea>
                              <mat-icon matSuffix>text_fields</mat-icon>
                          </mat-form-field>
                  
                          <mat-form-field style="width: 100%" class="demo-full-width">
                              <textarea rows="4" matInput formControlName="Other"  
                              placeholder="Other"></textarea>
                              <mat-icon matSuffix>text_fields</mat-icon>
                          </mat-form-field>
        
                        <div>
                          <button mat-button matStepperNext type="button">Next</button>
                        </div>
                      </mat-step>
                
                      <mat-step formGroupName="1" [stepControl]="formArray?.get([1])" optional>
                        <ng-template matStepLabel>
                          <div>Current Services</div>
                        </ng-template>
                        <mat-form-field style="width: 100%" class="demo-full-width">
                            <textarea rows="4" matInput formControlName="TeacherReportSocialSkill" 
                            placeholder="Teacher's report on Social and group Skills: (participation in group, peer interactions, etc.)"></textarea>
                            <mat-icon matSuffix>text_fields</mat-icon>
                        </mat-form-field>
        
                        <mat-form-field style="width: 100%" class="demo-full-width">
                            <textarea rows="4" matInput formControlName="TeacherReportAcademicSkill" 
                            placeholder="Teacher's report on Academic Skills (reading, math, writing, etc.)"></textarea>
                            <mat-icon matSuffix>text_fields</mat-icon>
                        </mat-form-field>
                        <div>
                          <button mat-button matStepperPrevious type="button">Back</button>
                          <button mat-button matStepperNext type="button">Next</button>
                        </div>
                      </mat-step>
        
                      <mat-step formGroupName="2" [stepControl]="formArray?.get([2])" optional>
                          <ng-template matStepLabel>
                            <div>Communication Skills</div>
                          </ng-template>
                          <mat-form-field style="width: 100%" class="demo-full-width">
                              <textarea rows="4" matInput formControlName="ReceptiveLanguageSkill" 
                              placeholder="Describe his/her current receptive language Skills (following instruction, listener skills,)"></textarea>
                              <mat-icon matSuffix>text_fields</mat-icon>
                          </mat-form-field>
          
                          <mat-form-field style="width: 100%" class="demo-full-width">
                              <textarea rows="4" matInput formControlName="ExpressiveLanguageSkill"  
                              placeholder="Describe his/her current expressive language skills:(labeling, requesting)"></textarea>
                              <mat-icon matSuffix>text_fields</mat-icon>
                          </mat-form-field>
        
                          <mat-form-field style="width: 100%" class="demo-full-width">
                              <textarea rows="4" matInput formControlName="CurrEchoicSkill" 
                              placeholder="Current echoic skills:"></textarea>
                              <mat-icon matSuffix>text_fields</mat-icon>
                          </mat-form-field>
        
                          <div>
                            <button mat-button matStepperPrevious type="button">Back</button>
                            <button mat-button matStepperNext type="button">Next</button>
                          </div>
                        </mat-step>
                        
                      <mat-step formGroupName="3" [stepControl]="formArray?.get([3])" optional>
                          <ng-template matStepLabel>
                            <div>Social Skills</div>
                          </ng-template>
                          <mat-form-field style="width: 100%" class="demo-full-width">
                              <textarea rows="4" matInput formControlName="EyeContact" 
                              placeholder="Eye Contact"></textarea>
                              <mat-icon matSuffix>text_fields</mat-icon>
                          </mat-form-field>
          
                          <mat-form-field style="width: 100%" class="demo-full-width">
                              <textarea rows="4" matInput formControlName="PeerInteraction"
                              placeholder="Peer Interactions (sharing, turn taking etc,)"></textarea>
                              <mat-icon matSuffix>text_fields</mat-icon>
                          </mat-form-field>
        
                          Services
                          <table style="width: 100%" cellspacing="0">
                              <tr *ngFor="let elem of list_service">
                                  <td>
                                      <div class="mb-1">
                                          <input matInput placeholder="Type of Services" [ngModelOptions]="{standalone: true}" [(ngModel)]="elem.Type">
                                      </div>
                                  </td>
                                  <td>
                                      <div class="mb-1">
                                          <input matInput placeholder="Provider's Name" [ngModelOptions]="{standalone: true}" [(ngModel)]="elem.Name">
                                      </div>
                                  </td>
                                  <td>
                                      <div class="mb-1">
                                          <input matInput placeholder="Contact Information" [ngModelOptions]="{standalone: true}" [(ngModel)]="elem.ContactInfo">
                                      </div>
                                  </td>
                                  <td>
                                      <div class="mb-1">
                                          <input matInput placeholder="Date Commencement" [ngModelOptions]="{standalone: true}" [(ngModel)]="elem.DateCommencement" type="date">
                                      </div>
                                  </td>
                                  <td>
                                      <div class="mb-1">
                                          <input matInput placeholder="Date Ended" [ngModelOptions]="{standalone: true}" [(ngModel)]="elem.DateEnd" type="date">
                                      </div>
                                  </td>
                                  <td>
                                      <div class="mb-1">
                                          <input matInput placeholder="Hours/Days per week" [ngModelOptions]="{standalone: true}" [(ngModel)]="elem.HoursDayWeek">
                                      </div>
                                  </td>
                                  <td>
                                      <div class="mb-1">
                                          <input matInput placeholder="Reports (attach if available)" [ngModelOptions]="{standalone: true}" [(ngModel)]="elem.Report">
                                      </div>
                                  </td>
                                  <td>
                                      <button (click)="remove_service(elem.id)" mat-fab color="warn">
                                          <mat-icon>remove_circle</mat-icon>
                                      </button>
                                  </td>
                              </tr>
                              <br>
                          </table>
                          <br>
                          <button mat-fab color="primary" (click)="add_service()">
                              <mat-icon>add_box</mat-icon>
                          </button>
                          <br>
                          <div>
                            <button mat-button matStepperPrevious type="button">Back</button>
                            <button mat-button matStepperNext type="button">Next</button>
                          </div>
                        </mat-step>
                      
                      <mat-step formGroupName="4" [stepControl]="formArray?.get([4])" optional>
                          <ng-template matStepLabel>
                            <div>Developmental History</div>
                          </ng-template>
                          <mat-form-field style="width: 100%" class="demo-full-width">
                              <textarea rows="4" matInput formControlName="PhDevelRolling" 
                              placeholder="Physical Development Rolling over:"></textarea>
                              <mat-icon matSuffix>text_fields</mat-icon>
                          </mat-form-field>
          
                          <mat-form-field style="width: 100%" class="demo-full-width">
                              <textarea rows="4" matInput formControlName="PhDevelCraw" 
                              placeholder="Physical Development Crawling:"></textarea>
                              <mat-icon matSuffix>text_fields</mat-icon>
                          </mat-form-field>
        
                          <mat-form-field style="width: 100%" class="demo-full-width">
                              <textarea rows="4" matInput formControlName="PhDevelWalk" 
                              placeholder="Physical Development Walking:"></textarea>
                              <mat-icon matSuffix>text_fields</mat-icon>
                          </mat-form-field>
        
                          <mat-form-field style="width: 100%" class="demo-full-width">
                              <textarea rows="4" matInput  formControlName="CommSkillFword"  
                              placeholder="Communication Skills First word:"></textarea>
                              <mat-icon matSuffix>text_fields</mat-icon>
                          </mat-form-field>
        
                          <mat-form-field style="width: 100%" class="demo-full-width">
                              <textarea rows="4" matInput formControlName="AdaptiveSkillDress" 
                              placeholder="Adaptive Skills Dressing:"></textarea>
                              <mat-icon matSuffix>text_fields</mat-icon>
                          </mat-form-field>
        
                          <mat-form-field style="width: 100%" class="demo-full-width">
                              <textarea rows="4" matInput  formControlName="AdaptiveSkillFeed"  
                              placeholder="Adaptive Skills Feeding:"></textarea>
                              <mat-icon matSuffix>text_fields</mat-icon>
                          </mat-form-field>
        
                          <mat-form-field style="width: 100%" class="demo-full-width">
                              <textarea rows="4" matInput formControlName="AdaptiveSkillToilet" 
                              placeholder="Adaptive Skills Toiletting:"></textarea>
                              <mat-icon matSuffix>text_fields</mat-icon>
                          </mat-form-field>
        
                          <div>
                            <button mat-button matStepperPrevious type="button">Back</button>
                            <button mat-button matStepperNext type="button">Next</button>
                          </div>
                        </mat-step>
        
                      <mat-step formGroupName="5" [stepControl]="formArray?.get([5])" optional>
                        <ng-template matStepLabel>
                          <div>Educational Information</div>
                        </ng-template>
                        <mat-form-field style="width: 100%" class="demo-full-width">
                            <textarea rows="4" matInput formControlName="EducationInfoSchoolname"
                            placeholder="Name of School"></textarea>
                            <mat-icon matSuffix>text_fields</mat-icon>
                        </mat-form-field>
        
                        <mat-form-field style="width: 100%" class="demo-full-width">
                            <textarea rows="4" matInput formControlName="EducationInfoGrade" 
                            placeholder="Grade:"></textarea>
                            <mat-icon matSuffix>text_fields</mat-icon>
                        </mat-form-field>
        
                        <mat-form-field style="width: 100%" class="demo-full-width">
                            <textarea rows="4" matInput formControlName="EducationInfoTeacherReportBehavior" 
                            placeholder="Teachers report on Classroom Behavior: (compliance, attending skills, etc.)"></textarea>
                            <mat-icon matSuffix>text_fields</mat-icon>
                        </mat-form-field>
        
                        <mat-form-field style="width: 100%" class="demo-full-width">
                            <textarea rows="4" matInput formControlName="EducationInfoAdult" 
                            placeholder="Adult Interactions"></textarea>
                            <mat-icon matSuffix>text_fields</mat-icon>
                        </mat-form-field>
        
                        <div>
                          <button mat-button matStepperPrevious type="button">Back</button>
                          <button mat-button matStepperNext type="button">Next</button>
                        </div>
                      </mat-step>
        
                      <mat-step formGroupName="6" [stepControl]="formArray?.get([6])" optional>
                        <ng-template matStepLabel>
                          <div>Behaviors Of Concern</div>
                        </ng-template>
                        <mat-form-field style="width: 100%" class="demo-full-width">
                            <textarea rows="4" matInput formControlName="BehaviorConcernAny" 
                            placeholder="Are there any concerns in the person's behavior? If yes, please provide the following details."></textarea>
                            <mat-icon matSuffix>text_fields</mat-icon>
                        </mat-form-field>
        
                        <mat-form-field style="width: 100%" class="demo-full-width">
                            <textarea rows="4" matInput formControlName="BehaviorConcernEngageRepetitive"  
                            placeholder="Does the child engage in any repetitive behaviors? If yes, describe the behavior in your own words."></textarea>
                            <mat-icon matSuffix>text_fields</mat-icon>
                        </mat-form-field>
        
                        <mat-form-field style="width: 100%" class="demo-full-width">
                            <textarea rows="4" matInput formControlName="BehaviorConcernEngageAggressive" 
                            placeholder="Does the person engage in any aggressive behaviors such as hitting, biting, etc?If yes, describe the behavior in your own words."></textarea>
                            <mat-icon matSuffix>text_fields</mat-icon>
                        </mat-form-field>
        
                        <mat-form-field style="width: 100%" class="demo-full-width">
                            <textarea rows="4" matInput formControlName="BehaviorConcvernSituationCompliant" 
                            placeholder="Are there any sitations where you find him/her non-compliant ? (not following instructions, etc.)"></textarea>
                            <mat-icon matSuffix>text_fields</mat-icon>
                        </mat-form-field>
        
                        <mat-form-field style="width: 100%" class="demo-full-width">
                            <textarea rows="4" matInput formControlName="BehaviorConcernEngageHarmful" 
                            placeholder="Does the person engage in any self-injurious or harmful behaviors? (harming themselves)"></textarea>
                            <mat-icon matSuffix>text_fields</mat-icon>
                        </mat-form-field>
        
                        <mat-form-field style="width: 100%" class="demo-full-width">
                            <textarea rows="4" matInput formControlName="BehaviorConcernEngageUnsafeBehavior" 
                            placeholder="Does the person engage in any unsafe or harmful behaviors? (health, safety skills,)"></textarea>
                            <mat-icon matSuffix>text_fields</mat-icon>
                        </mat-form-field>
        
                        <div>
                          <button mat-button matStepperPrevious type="button">Back</button>
                          <button mat-button matStepperNext type="button">Next</button>
                        </div>
                      </mat-step>
        
                      <mat-step formGroupName="7" [stepControl]="formArray?.get([7])" optional>
                        <ng-template matStepLabel>
                          <div>Functional Skills</div>
                        </ng-template>
                        <mat-form-field style="width: 100%" class="demo-full-width">
                            <textarea rows="4" matInput formControlName="FuncSkillGross" 
                            placeholder="Are there any concerns in his/her gross Motor Skills"></textarea>
                            <mat-icon matSuffix>text_fields</mat-icon>
                        </mat-form-field>
        
                        <mat-form-field style="width: 100%" class="demo-full-width">
                            <textarea rows="4" matInput formControlName="FuncSkillFine" 
                            placeholder="Are there any concerns in his/her fine Motor Skills"></textarea>
                            <mat-icon matSuffix>text_fields</mat-icon>
                        </mat-form-field>
        
                        <mat-form-field style="width: 100%" class="demo-full-width">
                            <textarea rows="4" matInput formControlName="FuncSkillEatings" 
                            placeholder="Are there any concerns in his/her Eating skills"></textarea>
                            <mat-icon matSuffix>text_fields</mat-icon>
                        </mat-form-field>
        
                        <mat-form-field style="width: 100%" class="demo-full-width">
                            <textarea rows="4" matInput formControlName="FuncSkillGroom" 
                            placeholder="Are there any concerns in his/her Grooming skills?"></textarea>
                            <mat-icon matSuffix>text_fields</mat-icon>
                        </mat-form-field>
        
                        <mat-form-field style="width: 100%" class="demo-full-width">
                            <textarea rows="4" matInput formControlName="FuncSkillToilet" 
                            placeholder="Is the person toilet trained? Please describe his/her toileting skills"></textarea>
                            <mat-icon matSuffix>text_fields</mat-icon>
                        </mat-form-field>
        
                        <div>
                          <button mat-button matStepperPrevious type="button">Back</button>
                          <button mat-button matStepperNext type="button">Next</button>
                        </div>
                      </mat-step>
        
                      <mat-step formGroupName="8" [stepControl]="formArray?.get([8])" optional>
                        <ng-template matStepLabel>
                          <div>Play</div>
                        </ng-template>
                        <mat-form-field style="width: 100%" class="demo-full-width">
                            <textarea rows="4" matInput formControlName="PlayPreferredActivities"
                            placeholder="What are the person's preferred items/activities"></textarea>
                            <mat-icon matSuffix>text_fields</mat-icon>
                        </mat-form-field>
        
                        <mat-form-field style="width: 100%" class="demo-full-width">
                            <textarea rows="4" matInput formControlName="PlayType" 
                            placeholder="Type of play (repetitive, engagement with toys etc,"></textarea>
                            <mat-icon matSuffix>text_fields</mat-icon>
                        </mat-form-field>
        
                        <mat-form-field style="width: 100%" class="demo-full-width">
                            <textarea rows="4" matInput formControlName="PlayInteractive"
                            placeholder="Interactive Play"></textarea>
                            <mat-icon matSuffix>text_fields</mat-icon>
                        </mat-form-field>
        
                        <mat-form-field style="width: 100%" class="demo-full-width">
                            <textarea rows="4" matInput formControlName="PlayFunctional" 
                            placeholder="Functional Play"></textarea>
                            <mat-icon matSuffix>text_fields</mat-icon>
                        </mat-form-field>
        
                        <mat-form-field style="width: 100%" class="demo-full-width">
                            <textarea rows="4" matInput formControlName="PlayImaginative" 
                            placeholder="Imaginative Play/Pretend play"></textarea>
                            <mat-icon matSuffix>text_fields</mat-icon>
                        </mat-form-field>
        
                        <div>
                          <button mat-button matStepperPrevious type="button">Back</button>
                          <button mat-button matStepperNext type="button">Next</button>
                        </div>
                      </mat-step>
        
                      <mat-step formGroupName="9" [stepControl]="formArray?.get([9])" optional>
                        <ng-template matStepLabel>
                          <div>Priorities & Goals</div>
                        </ng-template>
                        <mat-form-field style="width: 100%" class="demo-full-width">
                            <textarea rows="4" matInput formControlName="PrioritGoals" 
                            placeholder="What are your priority goals for your child?"></textarea>
                            <mat-icon matSuffix>text_fields</mat-icon>
                        </mat-form-field>
        
                        <mat-form-field style="width: 100%" class="demo-full-width">
                            <textarea rows="4" matInput formControlName="PrioritExpectation" 
                            placeholder="What are your expectations from the service center?"></textarea>
                            <mat-icon matSuffix>text_fields</mat-icon>
                        </mat-form-field>
        
                        <mat-form-field style="width: 100%" class="demo-full-width">
                            <textarea rows="4" matInput formControlName="PrioritOther" 
                            placeholder="Other details/concerns"></textarea>
                            <mat-icon matSuffix>text_fields</mat-icon>
                        </mat-form-field>
        
                        <div>
                          <button mat-button matStepperPrevious type="button">Back</button>
                          <button mat-button matStepperNext type="button">Next</button>
                        </div>
                      </mat-step>
        
                      <mat-step formGroupName="10" [stepControl]="formArray?.get([10])">
                        <ng-template matStepLabel>
                            <div>Recommendations</div>
                        </ng-template>
                        <mat-form-field style="width: 100%" class="demo-full-width">
                            <textarea rows="4" matInput formControlName="Recommendation"
                            placeholder=""></textarea>
                            <mat-icon matSuffix>text_fields</mat-icon>
                        </mat-form-field>
                       
                        
        
                      </mat-step>
        
                  </mat-horizontal-stepper>
        
              </mat-card-content>
              <hr>
              <mat-card-actions>
        
                <!-- <button mat-raised-button color="primary" type="submit" [disabled]="!form.valid" (click)="submit()">Save</button> -->
              </mat-card-actions>
            </form>
        
          </mat-card>
      </div>

      

  </div>  



